<div class="slideshow">
	<ul id="slide-images">
		<li><%= image_tag "slide0.jpg" %></li>
		<li><%= image_tag "slide1.jpg" %></li>
		<li><%= image_tag "slide2.jpg" %></li>
	</ul>
</div>

<div class="slideshow_shadow"></div>

<div class="content_wrapper">
	<div id="left_w">
		<%= render 'swimmers/form' %>
	</div>
	<%= render 'swimmers/right' %>	
</div>
<div class="clear"></div>