<table border="1">
  <tr>
		<th>ID</th>
    <th style="text-transform: uppercase;">Apellidos</th>
		<th>Nombre</th>
		<th>DNI</th>
		<th>Año</th>
		<th>Categoría</th>
		<th>Género</th>
		<th>Club</th>
		<th>Federado</th>
		<th>Talla</th>
		<th>Pagado</th>
		<th>Población</th>
		<th>Dirección</th>
		<th>Provincia</th>
		<th>Email</th>
  </tr>
  <% @swimmers.each do |s| %>
  <tr>
		<td id="upc"><%= s.id %></td>
   	<td id="upc"><%= s.secname.upcase %></td>
		<td id="upc"><%= s.name.upcase %></td>
		<td id="upc"><%= s.dni %></td>
		<td id="upc"><%= s.year %></td>
		<td id="upc"><%= s.cat.upcase %></td>
		<td id="upc"><%= s.gen.upcase %></td>
		<td id="upc"><%= s.club.upcase %></td>
		<td id="upc"><%= s.fed.upcase %></td>
		<td id="upc"><%= s.size %></td>
		<td id="upc"><% if s.paid %>SI<% else %>NO<% end %></td>	
		<td id="upc"><%= s.pob %></td>
		<td id="upc"><%= s.dir %></td>
		<td id="upc"><%= s.prov %></td>	
    <td id="upc"><%= s.email %></td>
  <% end %>
 </tr>
</table>