<p id="error2">Si comentes algún error en la inscripción, ponte en contacto a través del email <b><%= "#{@event.contact_email}" %></b> o del teléfono <b><%= "#{@event.contact_phone}" %></b>. Recuerda que este listado es <b>provisional</b>, con lo que deberás estar atento al listado final que será publicado en el plazo establecido.<br /><br />
Semanalmente se irán actualizando los pagos, por lo que la inscripción no quedará cerrada hasta que se realice el pago correspondiente. Animamos a todos los participantes a que se lean detenidamente las bases de la travesía.</p>
<br />

<table>
  <tr>
		<th></th>
    <th>Apellidos</th>
		<th>Nombre</th>
    <th>Género</th>
    <th>Club</th>
		<th>Año</th>    
    <th>Categoría</th>
		<th>Pagado</th>
    <% if user_signed_in? %>
			<th></th>
		<% end %>
  </tr>
<% @i = 1 %>
<% @swimmers.each do |swimmer| %>
  <tr>
		<td id="upc"><%= @i %></td>
    <td id="upc"><%= swimmer.secname %></td>
		<td id="upc"><%= swimmer.name %></td>
    <td id="upc"><%= swimmer.gen %></td>
    <td id="upc"><%= swimmer.club %></td>
    <td id="upc"><%= swimmer.year %></td>
		<td id="upc"><%= swimmer.cat %></td>
		<td id="upc"><% if swimmer.paid? %> Si <% else %> No <% end %></td>
    <% if user_signed_in? %>
    	<td><u><%= link_to 'Edit', edit_event_swimmer_path(@event, swimmer) %></u></td>
  	<% end %>
	</tr>
	<% @i = @i+1 %>
<% end %>
</table>

<br />


