<!DOCTYPE html>
<html>
<head>
  <title>VIII Travesía Burrero 2011 | Club Natación Jescagua Ingenio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
	<div class="header">
		<div class="logo_ayto"></div>
		<div class="logo_caja"></div>
	</div>
	<div class="clear"></div>

	<div class="nav">
		<ul id="menu">
				<li><%= link_to 'Inicio', root_path %></li>
				<li><%= link_to 'Bases de la travesía', "http://cnjescagua.com/burrero/files/bases_travesia_burrero11.pdf", :target => '_blank' %></li>			
				<li><%= link_to 'Autorización paterna', 'http://cnjescagua.com/burrero/files/autorizacion_paterna_menores.pdf', :target => '_blank'%></li>			
				<li><%= link_to 'Listado de Inscritos', event_swimmers_path(1) %></li>		
				<li><%= link_to 'Dossier Prensa', "http://cnjescagua.com/burrero/files/dossier_prensa_burrero2011.pdf", :target => '_blank' %></li>
		</ul>			
	</div>
			
	<div id="content">
		<%= yield %>			
	</div>
	      	
	<div id="footer">
		<p>
			Página generada automáticamente para Travesía Burrero 2011 por <%= link_to 'Roberto Marco', 'http://www.cnjescagua.com', :target => '_blank' %> | <% if user_signed_in? %><%= link_to 'Editar Perfil', edit_user_registration_path %> | <%= link_to 'Editar Evento', edit_event_path(1) %> | <%= link_to 'Cerrar sesión', destroy_user_session_path, :method => :delete %><% else %><%= link_to 'Identificarse', user_session_path %><% end %> 
		</p>
	</div>
  
	</div> <!-- end container div -->
</body>
</html>